@import 'helpers/variables';
@import 'helpers/function';
@import 'helpers/placeholders';
@import 'helpers/mixins';
// @import 'helpers/function';
@import 'normalize';
@import 'base';

// Components
@import 'components/container';
@import 'components/page-header';
@import 'components/banner';
@import 'components/navigation';
@import 'components/features';
@import 'components/video';
@import 'components/team';
@import 'components/footer';
