// FONTS
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Ralewayt', Arial, sans-serif;

$main-font-size: 14px;

// COLOR
$primary-white-color: #fff;
$primary-black-color: #282528;
$primary-aqua-color: #1ab798;
$primary-grey-color: #535b64;
