// FONTS
$font-open-sans: 'Open Sans', sans-serif;
$font-raleway: 'Ralewayt', Arial, sans-serif;

$main-font-size: 14px;

// COLOR
$primary-white-color: #fff;
$primary-black-color: #282528;
$secondary-black-color: #062033;
$primary-aqua-color: #1ab798;
$secondary-aqua-color: #0eb493;
$primary-grey-color: #535b64;
$secondary-grey-color: #c4c7c7;
$third-black-color: #000;
$third-aqua-color: #31d5e7;
$purple-color: #bface2;
$facebook-color: #3b5997;
$twitter-color: #3ec2f3;
$linkedin-color: #007ab9;

