.features {
  text-align: center;
  padding: calcRem(60px) 0 calcRem(59px);
    &__title {
      @extend %section-title;

      &::before {
        @extend %title-before;
      }
      &::after {
        @extend %title-after;
      }
    }
    &__text {
      color: $primary-black-color;
      font-family: $font-open-sans;
      font-size: calcRem(16px);
      font-weight: 400;
      line-height: calcRem(26px);
      padding-bottom: calcRem(35px);
    }
    &__item:not(:last-of-type) {
      padding-bottom: calcRem(37px);
    }
    &__item {
      @extend %list;
      position: relative;
      padding-left: calcRem(62px);
      text-align: left;

      &-title {
        color: $primary-black-color;
        font-family: $font-raleway;
        font-size: calcRem(18px);
        font-weight: 700;
        line-height: calcRem(18px);
        padding-bottom: calcRem(21px);
      }
      &-text {
        color: $primary-black-color;
        font-family: $font-open-sans;
        font-size: calcRem(13px);
        font-weight: 400;
        line-height: calcRem(24px);
        // padding-bottom: calcRem(37px);
      }
    }
    &__item--empty {
      @extend %list;
    }
}

.features__icon--1::before {
  content: url(../images/icons/icon_board.png);
}
.features__icon--2::before {
  content: url(../images/icons/icon_device_hub.png);
}
.features__icon--3::before {
  content: url(../images/icons/icon_thumb_up.png);
}
.features__icon--4::before {
  content: url(../images/icons/icon_star.png);
}
.features__icon--5::before {
  content: url(../images/icons/icon_notification.png);
}
.features__icon--6::before {
  content: url(../images/icons/icon_share.png);
}
[class*="features__icon--"]::before {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 0);
}

@media (min-width: 768px) {
  .features {
    padding: calcRem(121px) 0 calcRem(117px);
    &__title {
      font-size: calcRem(28px);
      padding-bottom: calcRem(66px);
    }
    &__title::before {
      left: calcRem(130px);
    }
    &__title::after {
      right: calcRem(130px);
    }
    &__text {
      padding-left: calcRem(42px);
      padding-right: calcRem(40px);
      padding-bottom: calcRem(35px);
    }
    &__list-wrapper {
      display: flex;
      justify-content: space-between;
    }
    &__list {
      width: 44%;
    }
    &__item:not(:last-of-type) {
      padding-bottom: calcRem(108px);
    }

  }
}
@media screen and (min-width: 1118px) {
  .features {
    padding: calcRem(121px) 0 calcRem(200px);
    &__title {
      padding-bottom: calcRem(93px);
      &::before {
        left: calcRem(310px);
      }
      &::after {
        right: calcRem(310px);
      }
    }
    &__text {
      font-size: calcRem(18px);
      line-height: calcRem(36px);
      padding-left: 0;
      padding-right: 0;
      padding-bottom: calcRem(158px);
    }
    &__list-wrapper {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
    }
    &__card-mobile {
      content: url(../images/features_mobile.png);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -8%);
    }
    &__list {
      width: 30%;

    }
    &__item:not(:last-of-type) {
      padding-bottom: calcRem(70px);
      // padding-bottom: 70px;

    }

  }
}