.contact {
  background: url(../images/footer-background.png), $third-black-color;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  &-wrapper {
    padding-bottom: 48px;
  }
  &__title {
    @extend %section-title;
    color: $primary-white-color;
    text-align: center;
    margin-bottom: 25px;
    &::before {
      @extend %title-before;
      left: 15px;
      color: $primary-white-color;
      opacity: 1;
    }
    &::after {
      @extend %title-after;
      right: 15px;
      color: $primary-white-color;
      opacity: 1;
    }
  }
  &__information {
    padding-bottom: 48px;
    &-title {
      color: $primary-white-color;
      font-family: $font-raleway;
      font-size: 24px;
      font-weight: 400;
      text-align: center;
      margin-bottom: 10px;
    }
    &-text {
      opacity: 0.5;
      color: $primary-white-color;
      font-family: $font-open-sans;
      font-size: $main-font-size;
      text-align: center;
      margin-bottom: 40px;
    }
  }
  &__socials {
    @extend %list;
    width: 156px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 43px;
    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: red;
    }
  }
  &__phone {
    color: $purple-color;
    font-family: $font-open-sans;
    font-size: $main-font-size;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }
  &__email {
    color: $purple-color;
    font-family: $font-open-sans;
    font-size: $main-font-size;
    font-weight: 700;
    text-align: center;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__name {
    width: 100%;
    height: 44px;
    width: 270px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    font-family: $font-open-sans;
    color: $primary-grey-color;
  }
  &__email {
    width: 100%;
    height: 44px;
    width: 270px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    font-family: $font-open-sans;
    color: $primary-grey-color;
  }
  &__message {
    width: 100%;
    height: 174px;
    width: 270px;
    border-radius: 4px;
    border: none;
    padding-left: 20px;
    padding-top: 16px;
    font-family: $font-open-sans;
    color: $primary-grey-color;
    margin-bottom: 45px;
    resize: none;
  }
  &__button-wrapper {
    display: flex;
    justify-content: center;
  }
  &__button {
    padding: 14px 45px;
    border-radius: 4px;
    border: none;
    font-family: $font-open-sans;
    text-transform: uppercase;
    font-size: 22px;
    color: $primary-white-color;
    background-color: $third-aqua-color;
    margin-bottom: 58px;
  }
}

.copyright {
  padding-top: 22px;
  border-top: 1px solid $primary-white-color;
  opacity: 0.5;
  color: $primary-white-color;
  font-family: $font-open-sans;
  font-size: $main-font-size;
  font-weight: 400;
}
// Social Icon
.facebook {
  background-color: $facebook-color;
}
.twitter {
  background-color: $twitter-color;
}
.linkedin {
  background-color: $linkedin-color;
}
// Social icon end

@media screen and (min-width: 768px) {
  .contact {
    &__title {
      margin-bottom: 50px;
      &::before {
        left: 215px;
      }
      &::after {
        right: 215px;
      }
    }
    &-form {
      &__wrapper {
        flex-direction: row;
        justify-content: space-between;
        width: 570px;
      }
      &__message {
        width: 570px;
      }
    }
    &__information {
      padding-bottom: 42px;
      &-text {
        width: 420px;
        margin: 0 auto 40px;
      }
    }
  }
  .copyright__wrapper {
    display: flex;
  }
}
@media screen and (min-width: 1118px) {
  .contact {
    &__title {
      &::before {
        left: 420px;
      }
      &::after {
        right: 420px;
      }
    }
    &__wrapper {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &__information {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &-text {
        margin: 0 0 40px;
        text-align: left;
      }
    }
    &-form {
      align-items: flex-end;
    }
  }
  .contact-form,
  .contact__information {
    width: 50%;
  }
}
