.navigation {
  @include center-flex(ver);
  height: 80px;
  width: 100%;
  position: absolute;
  top: 20px;
  background-color: $primary-white-color;
}

.navigation__wrapper {
  @include center-flex(ver);
  justify-content: space-between;
}

.logo {
  width: 110px;
  height: 21px;
}

.navigation__menu {
  display: none;
}

.navigation__toggle {
  clear: both;
  display: block;
  font-size: calcRem(30px);
  transition: color 0.2s linear;

  &:hover {
    color: $primary-aqua-color;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 149px;
    height: 29px;
  }

  .navigation__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 452px;
  }

  .navigation__menu-item a {
    text-decoration: none;
    opacity: 0.6;
    color: #282528;
    font-family: $font-open-sans;
    font-size: calcRem(13px);
    font-weight: 700;
    text-transform: uppercase;
    transition: opacity 0.2s linear;

    &:hover {
      opacity: 1;
    }
  }

  .navigation__toggle {
    display: none;
  }
}

@media screen and (min-width: 1118px) {
  .navigation {
    top: 30px;
  }
}
