.page-header {
  position: relative;

  &__wrapper {
    width: 100%;
    position: absolute;
    top: 180px;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    color: $primary-white-color;
    font-family: $font-raleway;
    font-size: calcRem(24px);
    font-weight: 700;
  }

  &__desc {
    margin-bottom: 26px;
    color: $primary-white-color;
    font-family: $font-open-sans;
    font-size: calcRem(18px);
    font-weight: 400;
  }

  &__list {
    @extend %list;
    margin-bottom: 32px;
  }

  &__item {
    padding-left: 22px;
    position: relative;
    color: $primary-white-color;
    font-family: $font-open-sans;
    font-size: calcRem(12px);
    font-weight: 400;

    &::before {
      content: '\203A';
      font-size: calcRem(30px);
      display: inline-block;
      position: absolute;
      left: 0;
      top: -15px;
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }

  &__btn {
    display: inline-block;
    margin: 0 auto;
    padding: 16px 38px 15px 78px;
    position: relative;
    border-radius: 5px;
    background-color: $primary-aqua-color;
    border: none;
    color: $primary-white-color;
    font-family: $font-open-sans;
    font-size: calcRem(20px);
    font-weight: 400;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 24px;
      width: 36px;
      height: 24px;
      background-image: url(../images/icon_cloud_download.png);
      background-repeat: no-repeat;
    }
  }
}

@media screen and (max-width: 767px) {
  .page-header__btn {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    top: 266px;
  }

  .page-header__wrapper .container {
    position: relative;
  }

  .page-header__title {
    margin-bottom: 0;
    font-size: calcRem(42px);
  }

  .page-header__desc {
    margin-bottom: 45px;
    font-size: calcRem(22px);
  }

  .page-header__list {
    margin-bottom: 80px;
  }

  .page-header__item {
    font-size: calcRem(16px);
  }

  .page-header__btn {
    margin-left: 20px;
  }

  .page-header__phone1 {
    position: absolute;
    right: 15px;
    bottom: -216px;
    width: 256px;
    height: 444px;
    background-image: url(../images/phone.png);
    background-size: cover;
  }

  .page-header__phone2 {
    position: absolute;
    right: 94px;
    bottom: -216px;
    width: 232px;
    height: 403px;
    background-image: url(../images/phone.png);
    background-size: cover;
  }
}

@media screen and (min-width: 1118px) {
  .page-header__phone1 {
    right: 28px;
    bottom: -260px;
    width: 382px;
    height: 663px;
  }

  .page-header__phone2 {
    right: 128px;
    bottom: -260px;
    width: 346px;
    height: 600px;
  }
}
